/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: rgba(100, 111, 162, 0.836);
  color: black;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.d-flex {
  display: flex;
  align-items: center;
}



/* Category Section */
.section {
  margin-top: 7rem;
}
.section .bottom {
  padding: 10rem 0 5rem 0;
  overflow: hidden;
}

.section .top {
  padding: 8rem;
  background-color: rgb(38, 38, 38);
}

.cat-center {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 114rem;
  margin: auto;
  padding: 0 3rem;
  background-color: rgb(38, 38, 38);
}

.cat-center .cat {
  max-width: 37rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  text-align: center;
}

#cat1, #cat2, #cat3 {
    box-shadow: 0px 0px 20px 4px rgba(119, 105, 101, 0.7);
}

#cat2 {
  background-color: white;
}

.cat-center .cat:not(:last-child) {
  margin-right: 8rem;
}

.cat-center .cat img {
  width: 36.5rem;
  height: 100%;
  margin: auto;
  object-fit: cover;
  transition: all 2s ease;
}

.cat-center .cat:hover img {
  transform: scale(1.1);
}

.cat-center .cat div {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 18rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

@media only screen and (max-width: 1200px) {
  .cat-center .cat img {
    width: 30rem;
  }
}

@media only screen and (max-width: 967px) {
  .cat-center .cat {
    max-width: 25rem;
    height: 20rem;
  }

  .cat-center .cat img {
    width: 25rem;
  }
}

@media only screen and (max-width: 768px) {
  .section {
    padding: 5rem 0;
  }

  .cat-center {
    flex-direction: column;
    padding: 3rem;
  }

  .cat-center .cat {
    max-width: 100%;
    height: 30rem;
  }

  .cat-center .cat:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 5rem;
  }

  .cat-center .cat img {
    width: 100%;
  }
}

/* Best-selling */
.title {
  text-align: center;
  margin-bottom: 5rem;
}

.title h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 500;
}

.product-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.product-item {
  position: relative;
  width: 27rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.product-thumb img {
  width: 100%;
  height: 31rem;
  object-fit: cover;
  transition: all 500ms linear;
}

.product-info {
  padding: 1rem;
  text-align: center;
}

.product-info span {
  display: inline-block;
  font-size: 1.2rem;
  color: #3f3333;
  margin-bottom: 1rem;
}

.product-info a {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 1rem;
  transition: all 300ms ease;
}

.product-info a:hover {
  color: #6cbe02;
}

.product-item .icons {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.product-item .icons li {
  background-color: white;
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 2.3rem;
  cursor: pointer;
  transition: 300ms ease-out;
  transform: translateY(20px);
  visibility: hidden;
  opacity: 0;
}

.product-item .icons li:first-child {
  transition-delay: 0.1s;
}

.product-item .icons li:nth-child(2) {
  transition-delay: 0.2s;
}

.product-item .icons li:nth-child(3) {
  transition-delay: 0.3s;
}

.product-item:hover .icons li {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.product-item .icons li:not(:last-child) {
  margin-right: 0.5rem;
}

.product-item .icons li:hover {
  background-color: #6cbe02;
  color: white;
}

.product-item .overlay {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

.product-item .overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease-out;
}

.product-item:hover .overlay::after {
  visibility: visible;
  opacity: 1;
}

.product-item:hover .product-thumb img {
  transform: scale(1.1);
}

.product-item .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #6cbe02;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 2rem;
  font-size: 1.5rem;
}

@media only screen and (max-width: 567px) {
  .product-center {
    max-width: 100%;
    padding: 0 1rem;
  }

  .product-item {
    width: 40%;
    margin-bottom: 3rem;
  }

  .product-thumb img {
    height: 20rem;
  }

  .product-item {
    margin-right: 2rem;
  }

  .product-item .icons li {
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
  }
}

/* Icons */

.icon {
  cursor: pointer;
  font-size: 2.5rem;
  padding: 0 1rem;
  color: #555;
  position: relative;
}

.icon:not(:last-child) {
  margin-right: 0.5rem;
}

.icon span {
  position: absolute;
  top: 3px;
  right: -3px;
  background-color: #6cbe02;
  color: white;
  border-radius: 50%;
  font-size: 1.3rem;
  height: 2rem;
  width: 2rem;
  justify-content: center;
}

@media only screen and (max-width: 768px) {

  .icon {
    display: none;
  }
}

/* Banner */

.banner {
  position: relative;
  background-color: #e9d7d3;
  padding: 14rem 20%;
}

.banner .right img {
  position: absolute;
  bottom: 0;
  right: 10%;
  max-height: 100%;
  width: 75rem;
}

.banner .trend,
.banner p {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.banner h1 {
  font-size: 5.4rem;
  color: black;
  margin-bottom: 1.5rem;
}

.banner .btn {
  display: inline-block;
  /* margin-top: 2rem; */
  background-color: #6cbe02;
  color: white;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

@media only screen and (max-width: 1500px) {
  .banner {
    /* padding: 14rem; */
    padding: 8rem 5rem;
  }

  .banner .left {
    width: 100%;
    text-align: left;
  }
  
  .banner .right img {
    right: 3rem;
    max-width: 40%;
    /* width: 70rem; */
  }
}

@media only screen and (max-width: 996px) {
  .banner {
    padding: 8rem 2rem;
  }

  .banner .trend,
  .banner p {
    font-size: 1.5rem;
  }

  .banner h1 {
    font-size: 4rem;
  }

  .banner .right img {
    right: -6%;
    max-width: 45%
    /* width: 50rem; */
  }

  .banner .left {
    width: 100%;
    margin-bottom: 3rem;
    margin-left: 5rem;
    text-align: left;
  }
}

@media only screen and (max-width: 862px) {
  .banner .right img {
    display: none;
  }

  .banner {
    display: grid;
    grid-template-columns: 1fr;
    height: 45vh;
  }

  .banner .left {
    width: 100%;
    margin-bottom: 3rem;
    text-align: center;
  }

  /* .banner .right {
    flex: 0 0 50%;
  }

  .banner .right img {
    right: 0;
    width: 50rem;
    left: 50%;
    transform: translateX(-50%);
  } */
}

@media only screen and (max-width: 567px) {
  .banner {
    padding: 8rem 5rem;
  }

  .banner .trend,
  .banner p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .banner h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .banner .btn {
    padding: 0.8rem 1.7rem;
    font-size: 1.4rem;
  }

  /* .banner .right img {
    width: 45rem;
  } */
}